body {
    background-color: rgb(202, 236, 225);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}