/* estilização do body: fonte, cor de fundo e centralização */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(202, 236, 225);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* padding do título */
h1 {
    padding: 15px;
}

/* estilização do formulário: fonte, direção colunas dos elementos, bordas etc. */
.formulario {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    padding: 70px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px;

}

/* definição de colunas para as referidas classes */
.categoria,
.unidadeOrigem,
.unidadeDestino,
.valorEntrada,
.valorSaida {
    display: flex;
    flex-direction: column;
}

/* definição de margem, padding e bordas para os selects e inputs */
select,
input {
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
}

/* estilização do botão: cor, fonte, peso da fonte etc. */
button {
    background-color: rgb(163, 245, 218);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}